// @tailwind base;
@tailwind components;
@tailwind utilities;

$main-color: #dda300;
$orange-color: #fc8019;

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;

  &:not(.light) {
    background-color: #090c0f;
  }
}

.bg-overlay {
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

.ribbon {
  position: relative;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
  color: #000 !important;
  font-size: 1.2rem;
  z-index: 2;
  background-color: $main-color;
  display: block;
  text-decoration: none;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  &::before,
  &:after {
    content: '';
    position: absolute;
    background: $main-color;
    width: 2rem;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  &::before {
    left: -1rem;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  &:after {
    right: -1rem;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  }
}

// layouts
nav.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  color: $main-color;

  svg {
    font-size: 2.3rem;
    color: $main-color;
  }
}

// pages
.login-page {
  .video-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .btn-icon {
    position: relative;
    font-size: 1.3rem;
    top: 3px;
  }
}

.blank-page {
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

.menu-page {
  .menu-wrapper {
    background-color: #090c0f;
    padding: 1.5rem 3rem;
    max-height: 600px;
    min-height: 300px;
    overflow: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::-webkit-scrollbar-thumb {
      background-color: $main-color;
    }

    &::-webkit-scrollbar {
      width: 7px;
      background-color: rgba(0, 0, 0, 0.7);
    }

    @media (max-width: 768px) {
      padding: 1rem;
    }
  }

  .category-slider {
    margin-bottom: 10px;

    .swiper-button-prev,
    .swiper-button-next {
      color: $main-color;
      width: 30px;
      background-color: #090c0f;

      &.swiper-button-disabled {
        opacity: 0;
      }

      &::after {
        font-size: 1.3rem;
      }
    }

    .swiper-slide {
      .single-menu-category {
        clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0% 100%, 0 50%, 0% 0%);
        padding: 30px 10px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        min-height: 30px;
        background-color: $main-color;
        font-family: 'Cairo', sans-serif;
        color: #000;
        cursor: pointer;
        user-select: none;
        outline: 0;
        border: 0;
        min-width: 100px;

        &.selected {
          background-color: #000;
          color: $main-color;
        }
      }
    }
  }

  .single-product-card {
    .product-content {
      gap: 10px;
      align-items: baseline;

      .product-title {
        direction: ltr;
        text-align: right;
        cursor: pointer;
      }

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        flex: 1;
        order: 2;
        border-bottom: 1px solid $main-color;
      }
    }
  }
}

.kitchen-page {
  .single-card-status {
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    background-color: $orange-color;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;

    .body {
      padding: 1.875rem;
      flex: 1 1 auto;

      .subtitle {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5;
      }

      .title-wrapper {
        display: flex;
        gap: 10px;
        align-items: baseline;
        color: #fff;

        .title {
          font-size: 2.5rem;
          line-height: 1.5;
          font-weight: 700;
        }

        .total-count {
          font-size: 1.5rem;
          line-height: 1.5;
        }
      }
    }

    &.card-1 {
      &:after,
      &:before {
        background: #dbdbdb33;
        border-radius: 50%;
        content: '';
        height: 13rem;
        position: absolute;
        width: 11.063rem;
      }

      &:before {
        bottom: -90px;
        left: -80px;
      }

      &:after {
        left: -90px;
        top: -80px;
      }
    }

    &.card-2 {
      &:after,
      &:before {
        background-repeat: no-repeat;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        opacity: 0.6;
      }

      &::before {
        background-position: 100% 0;
        background-image: url('../images/icons/kitchen/card-2-shape-1.png');
      }

      &::after {
        background-position: 0 100%;
        background-image: url('../images/icons/kitchen/card-2-shape-2.png');
      }
    }

    &.card-3 {
      &:after,
      &:before {
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        left: 0;
      }

      &:before {
        background-image: url('../images/icons/kitchen/card-3-shape-1.png');
        height: 3rem;
        top: 1.2rem;
        width: 3rem;
        left: 1.2rem;
      }

      &:after {
        background-image: url('../images/icons/kitchen/card-3-shape-2.png');
        background-size: cover;
        bottom: 0;
        height: 56%;
        width: 40%;
        left: -2.3rem;
        transform: rotate(90deg);
      }
    }

    &.card-4 {
      &:before {
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        background-image: url('../images/icons/kitchen/card-3-shape-1.png');
        height: 3rem;
        top: 1.2rem;
        width: 3rem;
        left: 1.2rem;
      }

      &::after {
        background-repeat: no-repeat;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        opacity: 0.6;
        background-position: 0 100%;
        background-image: url('../images/icons/kitchen/card-2-shape-2.png');
      }
    }
  }

  .products-list {
    max-height: 654px;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: $orange-color;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .single-product {
      overflow: hidden;
      position: relative;
      z-index: 1;
      border-radius: 0.5rem;
      background-color: rgba($color: $orange-color, $alpha: 0.2);
      border: 1px solid $orange-color;
      transition: all 0.5s ease-in-out;

      .body {
        padding: 1.5rem;

        .subtitle {
          color: $orange-color;
          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1.5;
        }

        .title {
          font-size: 1rem;
          line-height: 1.5;
          margin-bottom: 5px;
          color: $orange-color;
          font-weight: 700;
          direction: ltr;
          text-align: right;
        }
      }
    }
  }
}

.kitchen-page-orders-products-list {
  &::-webkit-scrollbar-thumb {
    background-color: $orange-color;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .single-product {
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    background-color: rgba($color: $orange-color, $alpha: 0.2);
    border: 1px solid $orange-color;
    transition: all 0.5s ease-in-out;

    .body {
      padding: 1.5rem;

      .subtitle {
        color: $orange-color;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.5;
      }

      .title {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 5px;
        color: $orange-color;
        font-weight: 700;
        direction: ltr;
        text-align: right;
      }
    }
  }
}
